@model KiwiLadyShoes.Models.Sale

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sale</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Payment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Payment.PaymentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shipping)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shipping.ShippingId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shoe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shoe.ShoeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SaleId" />
        <input type="submit" value="Delete" class="btn btn-custom" /> |
        <a asp-action="Orders" asp-area="" asp-controller="Order">Back to List</a>
    </form>
</div>
